body
{
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	width: 96%;
}
p
	{
	margin: .5em 0em .5em 0em;
	}
blockquote
	{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2em;	
	}
dl
	{
	margin-top: 0em; 
	padding-left: 1px; /* Prevents italic-letter descenders from being cut off */
	}
dd
	{
	margin-bottom: 0em;  
	margin-left: 1.5em; 
	}
dt
	{
	margin-top: .5em; 
	}
ol, ul
	{
	margin: .5em 0em 0em 2em; 
	}
li
	{
	margin-bottom: .5em;
	}
ul p, ol p, dl p
	{
	margin-left: 0em;
	}
h1, h2, h3, h4
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: .4em; 
	margin-top: 1em;
        margin-left: -18px;
	font-weight: bold;
	}
h1
	{
	font-size: 140%;
	margin-top: 0em;
	}
h1.hsbanner
	{
	font-size: 120%;
	}	
h2
	{
	font-size: 130%;
	}
h3
	{
	font-size: 115%;
	}
h4
	{
	font-size: 100%;
	}
	
A.hsglossaryreference       
{ 
    COLOR:  #008000 ;
    border-bottom: 1px dotted #008000 ;
    text-decoration: none;
    cursor: hand;    
    cursor: pointer;    
}
A.hsglossaryreference:link
{
    COLOR : #008000
}
A.hsglossaryreference:active
{
    COLOR : #008000
}
A.hsglossaryreference:visited
{
    COLOR : #008000
}
A.hsglossaryreference:hover
{
    COLOR : #008000
}

A:link
{
    COLOR : #0000FF
}
A:active
{
    COLOR : #000080
}
A:visited
{
    COLOR : #800080
}
A:hover
{
    COLOR : #FF0000
}
pre
{
  margin-top: .6em;
  margin-bottom: .6em;
  margin-left: 2em;
  margin-right: 2em;
  font-family: Andale Mono, Courier New, Courier, mono;
  color: #550000;
  background: #eeeeee;
}
PRE.example
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 100%;
    COLOR: #000060;
    margin-top: 0px;
}
PRE.code
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 100%;
    margin-top: 0px;
}
CODE, p.example, p.sourcecode, table.sourcecode, tr.sourcecode, td.sourcecode
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 100%;
}
div#hspagetop
	{
	position: relative;
	left: 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999999;
	}
div#hspagebody
	{
	padding: 5px 10px 0px 22px; 
	}
div#hspagetitlebanner
	{
	width: 100%; 
	padding: 0px 10px 0px 22px; 
	}	
table.hsprojectnametable
	{
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 21px; 
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	font-size: 100%;
	}
table.hsprojectnametable td 
	{
	align: left;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 4px;
	vertical-align: middle;
	border-width: 0px
	border-style: solid;
	border-color: #999999;
	background: transparent; 
	font-style: italic;
	font-weight: normal;
	}
table.hsindentedtable
	{
	position: relative;
	left: 15px;
	border-width: 1;
	border-style: solid;
	bordercolorlight: #999999;
	bordercolordark: #999999;
	border-collapse: collapse;
	}
table.hsprojectnametable td.hsbutton
	{
	width: 14px;
	cursor: hand;
	}
div.hspopupbubble
	{
	left: 4px;
	position: absolute;
	padding: 0px 8px 5px 26px;
	z-index: 1;
	width: 50%;
	visibility: hidden;
	border: 1px solid #999999;
	background-color: #ffffcc;
	}	
table
	{
	border-collapse: collapse;
	font-size: 100%;
	}
div#hslinks
	{
        margin-left: -18px;
        margin-top: 18px;
	}
/* Default page top banner style. Can be overriden in the project properties */
div#hsprojectnamebanner, div#hspagetitlebanner, table.hsprojectnametable
{
	background-color: #ccccff;
}
/* New in HelpStudio v2 */
code {
	font-family: Courier New;
	font-size: 9pt;
	color: #000060;
}
/* Code colorization support */
code.VB
{
    color: #000000;
}
.keyword {
	color: Navy;
}

.comment {
	color: Green;
}

.string {
	color: Gray;
}